Werkzeug==0.15.4
mysqlclient==1.4.2.post1
Django==2.2.3
django-mysql==3.2.0
djangorestframework==3.10.0
djangorestframework-simplejwt==4.3.0
django-cors-headers==3.0.2
boto3==1.9.188
PyJWT==1.7.1
watchtower==0.6.0
requests==2.22.0
cryptography==2.7
JSON-log-formatter==0.2.0
