service: ${env:PROJECT_NAME}

plugins:
  - serverless-python-requirements
  - serverless-wsgi
  - serverless-domain-manager

custom:
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'ap-southeast-2'}
  cloudwatch: /serverless/django/${self:service}/${self:custom.stage}
  wsgi:
    app: app.wsgi.application
    pythonBin: python3
  customDomain:
    domainName: ${env:BACKEND_DOMAIN, ''}
    certificateArn: ${env:DOMAIN_CERT_ARN, ''}
    createRoute53Record: "true"
    hostedZoneId: ${env:HOSTED_ZONE_ID, ''}

provider:
  name: aws
  runtime: python3.7
  region: ${self:custom.region}
  deploymentBucket:
    name: ${env:PROJECT_BUCKET, ''}

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: "ANY {proxy+}"
    environment:
      STAGE: ${self:custom.stage}
      AZURE_APP_ID: ${ssm:/${self:custom.stage}/${self:service}/AZURE_APP_ID}
      AZURE_ADMIN_GROUP_ID: ${ssm:/${self:custom.stage}/${self:service}/AZURE_ADMIN_GROUP_ID}
      SECRET_KEY: ${ssm:/${self:custom.stage}/${self:service}/SECRET_KEY~true}
      ALLOWED_HOSTS: ${ssm:/${self:custom.stage}/${self:service}/ALLOWED_HOSTS, ''}
      CORS_WHITELIST: ${ssm:/${self:custom.stage}/${self:service}/CORS_WHITELIST, ''}
      DB_HOST: ${ssm:/${self:custom.stage}/${self:service}/DB_HOST, env:DB_HOST}
      DB_PORT: ${ssm:/${self:custom.stage}/${self:service}/DB_PORT, env:DB_PORT}
      DB_NAME: ${ssm:/${self:custom.stage}/${self:service}/DB_NAME, env:DB_NAME}
      DB_USER: ${ssm:/${self:custom.stage}/${self:service}/DB_USER, env:DB_USER}
      DB_PASSWORD: ${ssm:/${self:custom.stage}/${self:service}/DB_PASSWORD~true, env:DB_PASSWORD}
      TEAMS_WEBHOOK: ${ssm:/${self:custom.stage}/${self:service}/TEAMS_WEBHOOK, ''}
      CLOUDWATCH_LOG_GROUP: ${self:custom.cloudwatch}
      FRONTEND_URL: ${env:FRONTEND_URL}
