provider "aws" {
  region = ""
}

provider "aws" {
  # us-east-1 provider required for ACM certificates
  region = "us-east-1"
  alias = "us"
}

terraform {
  backend "s3" {
    bucket = ""
    key = "" 
    region = ""
    encrypt = "true"
  }
}
