variable "project_name" {
  type = "string"
  default = ""
}

variable "project_bucket" {
  type = "string"
  default = ""
}

variable "git_repository_owner" {
  type = "string"
  default = ""
}

variable "git_repository_name" {
  type = "string"
  default = ""
}

variable "git_repository_branch" {
  type = "string"
  default = ""
}

variable "stage_domain" {
  type = "string"
  default = ""
}

variable "prod_domain" {
  type = "string"
  default = ""
}
