html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f0f2f5 !important;
}
#root {
  height: 100%;
  width: 100%;
}
#loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner {
  border: 4px solid transparent; /* Outline */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
